/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url('./reset.css');
@import url('./vite-promo.css'); 
@import url('./header.css'); */

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 20px;
}

/* Стилі для форми */
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}

/* Стилі для інпута у формі */
.form input {
  flex: 1;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

/* Стилі для кнопки у формі */
.form .btn-submit {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: #4E75FF;
  color: #fff;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #6C8CFF;
}
